<div class="container">
<div class="jumbotron">
<h3>NEW ALBUM</h3>
<p>
<%=form_for :album, :url => user_albums_path, :method => :post do |f| %>
<%= f.text_field :name, placeholder: "Enter Album Name"  %>
<%= f.submit :submit , class: "btn btn-info btn-lg", role: "button"%>
<%end%>
</p>
</div>