// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home{
	background-image: url("http://allpicts.in/download/1396/light_blue_wallpaper_pattern_for_background.jpg/");
	overflow: hidden;

}
#new_alb{
	background-color: lightgrey;
	overflow: hidden;


}
